<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="false" destination="http://consul.mfa.uz/uz/?action=vibor" />
        <handlers>
            <remove name="CGI-exe" />
            <remove name="PHP_via_FastCGI" />
            <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP\v5.3\php-cgi.exe" resourceType="File" requireAccess="Script" />
            <add name="CGI-exe" path="*.exe" verb="*" modules="CgiModule" scriptProcessor="C:\PHP\v5.3\php-cgi.exe" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
        </handlers>
    </system.webServer>
    <system.web>
        <compilation batchTimeout="4500" />
        
    </system.web>
</configuration>
